Repository spring-projects-experimental/spring-boot-migrator, pull requests merged in 2022-09, with the labels that each got.

#412 411 fixed version property spring dependencies import
  components/sbm-support-boot/src/main/java/org/springframework/sbm/boot/common/conditions/HasSpringBootDependencyImport.java
  components/sbm-support-boot/src/main/java/org/springframework/sbm/boot/common/conditions/HasSpringBootDependencyManuallyManaged.java
  components/sbm-support-boot/src/test/java/org/springframework/sbm/boot/common/conditions/HasSpringBootDependencyImportTest.java
  components/sbm-support-boot/src/test/java/org/springframework/sbm/boot/common/conditions/HasSpringBootDependencyManuallyManagedTest.java
Labels: type: enhancement, upgrade:boot

#183 Add support for generating code to send MuleSoft Dataweave Transformations to TriggerMesh
  applications/spring-shell/src/main/resources/application.properties
  applications/spring-shell/src/main/resources/banner.txt
  applications/spring-shell/src/test/java/org/springframework/sbm/MigrateSimpleMuleAppDataweaveIntegrationTest.java
  applications/spring-shell/src/test/resources/testcode/mule-app/spring-dw-mule/.gitignore
  applications/spring-shell/src/test/resources/testcode/mule-app/spring-dw-mule/pom.xml
  applications/spring-shell/src/test/resources/testcode/mule-app/spring-dw-mule/src/main/java/com/example/javadsl/Foo.java
  applications/spring-shell/src/test/resources/testcode/mule-app/spring-dw-mule/src/main/resources/apikit-dw-mule.xml
  applications/spring-shell/src/test/resources/testcode/mule-app/spring-dw-mule/src/main/resources/http-mule.xml
  components/sbm-core/src/main/java/org/springframework/sbm/project/resource/SbmApplicationProperties.java
  components/sbm-core/src/main/resources/application-core.properties
  components/sbm-recipes-mule-to-boot/src/main/java/org/springframework/sbm/mule/MigrateMuleToBoot.java
  components/sbm-recipes-mule-to-boot/src/main/java/org/springframework/sbm/mule/actions/JavaDSLAction2.java
  components/sbm-recipes-mule-to-boot/src/main/java/org/springframework/sbm/mule/actions/javadsl/translators/dwl/DwlTransformTranslator.java
  components/sbm-recipes-mule-to-boot/src/main/resources/templates/triggermesh-dw-transformation-template.ftl
  components/sbm-recipes-mule-to-boot/src/test/java/org/springframework/sbm/mule/actions/MuleToJavaDSLDwlTransformTest.java
Labels: type: enhancement, Mule-3.9

#415 414 fixed not found managed dependency
  applications/spring-shell/src/test/java/org/springframework/sbm/BootUpgrade_27_30_ManuallyManaged_IntegrationTest.java
  components/sbm-openrewrite/src/main/java/org/openrewrite/maven/spring/UpgradeUnmanagedSpringProject.java
Labels: type: bug, upgrade:boot

#421 420 upgrade only older explicit versions
  applications/spring-shell/src/test/java/org/springframework/sbm/BootUpgrade_27_30_ManuallyManaged_IntegrationTest.java
  components/sbm-openrewrite/src/main/java/org/openrewrite/maven/spring/UpgradeUnmanagedSpringProject.java
  components/sbm-openrewrite/src/test/java/org/openrewrite/maven/spring/UpgradeUnmanagedSpringProjectTest.java
Labels: type: enhancement, upgrade:boot

#429 427 fixed root build file selection
  components/sbm-core/src/main/java/org/springframework/sbm/build/api/ApplicationModules.java
  components/sbm-core/src/test/java/org/springframework/sbm/build/api/ApplicationModulesTest.java
Labels: type: bug

#432 Fix requested manually managed dependencies
  components/sbm-support-boot/src/main/java/org/springframework/sbm/boot/common/conditions/HasSpringBootDependencyManuallyManaged.java
  components/sbm-support-boot/src/test/java/org/springframework/sbm/boot/common/conditions/HasSpringBootDependencyManuallyManagedTest.java
Labels: type: bug

#458 Git adds files when .git is in parent dir of project
  components/sbm-core/src/main/java/org/springframework/sbm/engine/git/GitSupport.java
  components/sbm-core/src/test/java/org/springframework/sbm/engine/git/GitSupportTest.java
Labels: type: bug
