Repository spring-projects-experimental/spring-boot-migrator, pull requests merged in 2022-11, with the labels that each got.

#521 Fix Upgrade Report generation by unpacking spring-asciidoctor-backends
  applications/spring-shell/pom.xml
Labels: type: bug, upgrade:boot-report

#473 adding the jmx endpoint exposure related files .
  applications/spring-shell/src/test/java/org/springframework/sbm/BootUpgrade_27_30_MultiModule_IntegrationTest.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/actions/Boot_27_30_JmxEndpointExposureAction.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/conditions/JmxEndpointExposureCondition.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/filter/JmxEndpointExposureFinder.java
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/boot-2.7-3.0-dependency-version-update.yaml
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/boot-2.7-3.0-upgrade-report.yaml
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/actions/Boot_27_30_JmxEndpointExposureActionTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/conditions/JmxEndpointExposureConditionTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/filter/JmxEndpointExposureFinderTest.java
Labels: type: enhancement, upgrade:boot, 3.0.0

#533 #455 Merge scopes when adding a dependency that exists but with different scope
  components/sbm-core/src/main/java/org/springframework/sbm/build/api/DependencyChangeResolver.java
  components/sbm-core/src/main/java/org/springframework/sbm/build/migration/actions/AddDependencies.java
  components/sbm-core/src/test/java/org/springframework/sbm/build/api/DependencyChangeResolverTest.java
Labels: type: enhancement

#550 Migrate JAX-RS QueryParam annotation to an optional RequestParam annotation
  applications/spring-shell/src/test/java/org/springframework/sbm/recipes/MigrateJaxRsAnnotationsRecipeIntegrationTest.java
  applications/spring-shell/src/test/resources/testcode/bootify-jaxrs/src/main/java/com/example/jee/app/PersonController.java
  components/sbm-recipes-jee-to-boot/src/main/java/org/springframework/sbm/jee/jaxrs/MigrateJaxRsRecipe.java
Labels: JEE/JAX-RS

#555 Fixed recipes names
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/27_30/report/sbu30-set-java-version.yaml
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/27_30/report/sbu30-upgrade-dependencies.yaml
Labels: type: bug, upgrade:boot-recipe, 3.0.0

#556 Fixing PagingAndSortingHelperTest conforming to new finder
  components/sbm-core/src/test/java/org/springframework/sbm/project/resource/TestProjectContext.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/helper/PagingAndSortingHelperTest.java
Labels: type: enhancement, upgrade:boot-recipe, 3.0.0

#568 Test that resources with syntax error are ignored and other get parsed
  components/sbm-core/src/test/java/org/springframework/sbm/project/parser/ForgivingParsingOfTestResourcesTest.java
Labels: type: test
