Repository spring-projects-experimental/spring-boot-migrator, pull requests merged in 2022-10, with the labels that each got.

#460 Fix #457 - Enhance initialise spring boot integration test
  components/recipe-test-support/src/main/java/org/springframework/sbm/test/RecipeIntegrationTestSupport.java
  components/sbm-support-boot/src/main/java/org/springframework/sbm/boot/properties/actions/AddSpringBootApplicationPropertiesAction.java
  components/sbm-support-boot/src/main/resources/recipes/initialize-spring-boot-migration.yaml
  components/sbm-support-boot/src/main/resources/templates/minimal-pom-xml.ftl
  components/sbm-support-boot/testcode/empty-project/expected/pom.xml
  components/sbm-support-boot/testcode/empty-project/expected/src/main/java/org/springframework/sbm/SpringBootApp.java
  components/sbm-support-boot/testcode/empty-project/expected/src/main/resources/application.properties
  components/sbm-support-boot/testcode/empty-project/expected/src/test/java/org/springframework/sbm/SpringBootAppTest.java
  components/sbm-support-boot/testcode/multi-module-simple/expected/module1/pom.xml
  components/sbm-support-boot/testcode/multi-module-simple/expected/pom.xml
Labels: type: bug

#371 3.0.0-M3 Support for Apache Solr Removed # 226
  components/sbm-core/src/main/java/org/springframework/sbm/java/impl/OpenRewriteType.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/checks/ApacheSolrRepositoryBeanFinder.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/checks/ApacheSolrRepositorySectionBuilder.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/checks/ApacheSolrRepositoryBeanFinderTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/checks/ApacheSolrRepositorySectionBuilderTest.java
Labels: type: enhancement, upgrade-boot:migration, 3.0.0

#466 Fix typo in README
  README.adoc
Labels: type: documentation

#480 Fix: An error "fullyQualified" is null happened when generating boot-2.7-3.0-upgrade-report
  components/sbm-core/src/main/java/org/springframework/sbm/java/api/Method.java
  components/sbm-core/src/main/java/org/springframework/sbm/java/impl/OpenRewriteMethod.java
  components/sbm-core/src/test/java/org/springframework/sbm/java/impl/OpenRewriteMethodTest.java
  components/sbm-support-boot/src/main/java/org/springframework/sbm/boot/common/finder/SpringBeanMethodDeclarationFinder.java
  components/sbm-support-boot/src/test/java/org/springframework/sbm/boot/common/finder/SpringBeanMethodDeclarationFinderTest.java
Labels: type: bug

#482 Rework report generation
  applications/spring-shell/src/test/java/org/springframework/sbm/BootUpgrade_27_30_MultiModule_IntegrationTest.java
  ci/images/ci-image/Dockerfile
  components/sbm-core/src/main/java/org/springframework/sbm/engine/git/GitSupport.java
  components/sbm-core/src/main/java/org/springframework/sbm/properties/api/PropertiesSource.java
  components/sbm-core/src/test/java/org/springframework/sbm/engine/git/GitSupportTest.java
  components/sbm-recipes-boot-upgrade/css/asciidoctor.css
  components/sbm-recipes-boot-upgrade/css/codetools.css
  components/sbm-recipes-boot-upgrade/css/components.css
  components/sbm-recipes-boot-upgrade/css/elements.css
  components/sbm-recipes-boot-upgrade/css/generic.css
  components/sbm-recipes-boot-upgrade/css/highlight.css
  components/sbm-recipes-boot-upgrade/css/layout.css
  components/sbm-recipes-boot-upgrade/css/settings-dark.css
  components/sbm-recipes-boot-upgrade/css/settings.css
  components/sbm-recipes-boot-upgrade/css/site.css
  components/sbm-recipes-boot-upgrade/css/tabs.css
  components/sbm-recipes-boot-upgrade/css/toc.css
  components/sbm-recipes-boot-upgrade/img/banner-logo.svg
  components/sbm-recipes-boot-upgrade/img/doc-background-dark.svg
  components/sbm-recipes-boot-upgrade/img/doc-background.svg
  components/sbm-recipes-boot-upgrade/img/octicons-16.svg
  components/sbm-recipes-boot-upgrade/js/setup.js
  components/sbm-recipes-boot-upgrade/js/site.js
  components/sbm-recipes-boot-upgrade/pom.xml
  components/sbm-recipes-boot-upgrade/report.html
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade/common/UpgradeReportUtil.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_24_25/report/Boot_24_25_Introduction.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/SpringBoot30UpgradeReport.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportAction.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportActionDeserializer.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportDataProvider.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportFreemarkerSupport.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportRenderer.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportSection.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/helper/ChangesToDataPropertiesHelper.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/helper/LoggingDateFormatHelper.java
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/boot-2.7-3.0-dependency-version-update.yaml
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/boot-new-report.yaml
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/conditions/LoggingDateFormatConditionTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/ChangesToDataPropertiesReportTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportActionTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportTestSupport.java
  docs/boot-3.0.0-M3-upgrade.adoc
  pom.xml
Labels: type: enhancement, 3.0.0

#506 fix: TriggerMesh support flag unset after test
  components/sbm-recipes-mule-to-boot/src/test/java/org/springframework/sbm/mule/actions/MuleToJavaDSLDwlTransformTest.java
Labels: type: bug, in: mule-3.9

#479 470 spring cloud upgrade
  applications/spring-shell/src/test/java/org/springframework/sbm/BootUpgrade_27_30_IntegrationTest.java
  applications/spring-shell/src/test/resources/testcode/boot-migration-27-30/pom.xml
  components/sbm-openrewrite/src/test/java/org/openrewrite/java/ChangeTypeTest.java
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/boot-2.7-3.0-dependency-version-update.yaml
Labels: type: enhancement, upgrade:boot, 3.0.0

#504 503 springbootupgradereporttestsupport provides assertion for section not rendered
  components/sbm-recipes-boot-upgrade/report.html
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/boot-new-report.yaml
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/ChangesToDataPropertiesReportTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportActionTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportTestSupport.java
Labels: type: enhancement, upgrade:boot-report

#499 150 Banner information report
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/helper/BannerSupportHelper.java
  components/sbm-recipes-boot-upgrade/src/main/java/org/springframework/sbm/boot/upgrade_27_30/report/helper/ChangesToDataPropertiesHelper.java
  components/sbm-recipes-boot-upgrade/src/main/resources/recipes/boot-new-report.yaml
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/ChangesToDataPropertiesReportTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/SpringBootUpgradeReportActionTest.java
  components/sbm-recipes-boot-upgrade/src/test/java/org/springframework/sbm/boot/upgrade_27_30/report/helper/BannerSupportHelperTest.java
Labels: type: enhancement, 3.0.0, upgrade:boot-report

#509 Fix NullPointerException in VisitorUtils
  components/sbm-core/src/main/java/org/springframework/sbm/java/migration/visitor/VisitorUtils.java
Labels: type: bug
