Repository spring-projects-experimental/spring-boot-migrator, pull requests merged in 2023-01, with the labels that each got.

#697 test: Enabled ProjectContextInitializerTest again
  components/sbm-core/src/test/java/org/springframework/sbm/project/parser/ProjectContextInitializerTest.java
Labels: type: enhancement, type: test

#604 Migrate JAX-RS default value annotation
  applications/spring-shell/src/test/java/org/springframework/sbm/recipes/MigrateJaxRsAnnotationsRecipeIntegrationTest.java
  applications/spring-shell/src/test/resources/testcode/bootify-jaxrs/src/main/java/com/example/jee/app/PersonController.java
  components/sbm-recipes-jee-to-boot/src/main/java/org/springframework/sbm/jee/jaxrs/MigrateJaxRsRecipe.java
  components/sbm-recipes-jee-to-boot/src/main/java/org/springframework/sbm/jee/jaxrs/recipes/CopyAnnotationAttribute.java
  components/sbm-recipes-jee-to-boot/src/main/java/org/springframework/sbm/jee/jaxrs/recipes/RemoveAnnotationIfAccompanied.java
  components/sbm-recipes-jee-to-boot/src/main/java/org/springframework/sbm/jee/jaxrs/recipes/ReplaceRequestParameterProperties.java
  components/sbm-recipes-jee-to-boot/src/main/java/org/springframework/sbm/jee/jaxrs/recipes/visitors/CopyAnnotationAttributeVisitor.java
  components/sbm-recipes-jee-to-boot/src/main/java/org/springframework/sbm/jee/jaxrs/recipes/visitors/RemoveAnnotationIfAccompaniedVisitor.java
  components/sbm-recipes-jee-to-boot/src/main/java/org/springframework/sbm/jee/utils/AnnotationUtils.java
  components/sbm-recipes-jee-to-boot/src/test/java/org/springframework/sbm/jee/jaxrs/recipes/BootifyJaxRsAnnotationsRecipeTest.java
  components/sbm-recipes-jee-to-boot/src/test/java/org/springframework/sbm/jee/jaxrs/recipes/CopyAnnotationAttributeTest.java
  components/sbm-recipes-jee-to-boot/src/test/java/org/springframework/sbm/jee/jaxrs/recipes/RemoveAnnotationIfAccompaniedTest.java
Labels: type: enhancement, JEE/JAX-RS, openrewrite

#602 Remove spring managed dependency with version consideration
  components/sbm-core/src/main/java/org/springframework/sbm/build/api/Dependency.java
  components/sbm-core/src/main/java/org/springframework/sbm/build/api/SpringManagedDependencies.java
  components/sbm-core/src/main/java/org/springframework/sbm/build/migration/actions/RemoveManagedDependencies.java
  components/sbm-core/src/test/java/org/springframework/sbm/build/api/SpringManagedDependenciesTest.java
  components/sbm-core/src/test/java/org/springframework/sbm/build/migration/actions/RemoveManagedDependenciesTest.java
Labels: type: enhancement, in: boot

#711 fix: Remove outdated recipe
  components/sbm-core/src/main/java/org/springframework/sbm/build/api/SpringManagedDependencies.java
  components/sbm-core/src/main/java/org/springframework/sbm/build/migration/actions/RemoveManagedDependencies.java
  components/sbm-core/src/test/java/org/springframework/sbm/build/api/SpringManagedDependenciesTest.java
  components/sbm-core/src/test/java/org/springframework/sbm/build/migration/actions/RemoveManagedDependenciesTest.java
  components/sbm-recipes-jee-to-boot/src/main/resources/recipes/javax.sql.yaml
Labels: type: bug
