Repository spring-projects-experimental/spring-boot-migrator, pull requests merged in 2023-11, with the labels that each got.

#984 Parser parity test
  .github/workflows/check-license-headers.yml
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenProject.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ModuleParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ParserContext.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ParserProperties.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ProjectScanner.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/RewriteParserConfiguration.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/RewriteProjectParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/SourceSetParsingResult.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/BuildFileParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/MavenModuleParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/MavenProjectAnalyzer.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/MavenProvenanceMarkerFactory.java
  sbm-support-rewrite/src/main/resources/META-INF/sbm-support-rewrite.properties
  sbm-support-rewrite/src/test/java/org/openrewrite/JavaParserTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/CompareParserRecipeRunTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/ParserPropertiesTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteProjectParserIntegrationTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteProjectParserParityTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/maven/ComparingParserFactory.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/maven/MavenExecutionRequestFactory.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/maven/ProvenanceMarkerFactoryTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/maven/SbmTestConfiguration.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/test/util/ParallelParsingResult.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/test/util/ParserExecutionHelper.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/test/util/ParserParityTestHelper.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/test/util/TestProjectHelper.java
  sbm-support-rewrite/testcode/maven-projects/parser-recipe-run/pom.xml
Labels: type: bug, type: enhancement, in: sbm-support-rewrite, revamp

#998 Refactorings
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ModuleParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ParserContext.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/RewriteParserConfiguration.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/MavenModuleParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/MavenProject.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/MavenProjectAnalyzer.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/MavenProvenanceMarkerFactory.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/maven/ProjectId.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/recipes/RecipeValidationErrorException.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/recipes/RewriteRecipeDiscovery.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteProjectParserTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/maven/MavenProjectAnalyzerTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/maven/ProvenanceMarkerFactoryTest.java
Labels: type: refactoring, in: sbm-support-rewrite, revamp

#977 Updated IgnoredPatterns & Added support for more Rewrite recipes
  sbm-support-rewrite/pom.xml
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ParserProperties.java
  sbm-support-rewrite/src/main/resources/META-INF/sbm-support-rewrite.properties
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/ParserPropertiesTest.java
Labels: type: enhancement, revamp
