Repository spring-projects-experimental/spring-boot-migrator, pull requests merged in 2023-04, with the labels that each got.

#768 fix: Bump version to latest to fix `BootUpgrade_27_30_IntegrationTest`
  applications/spring-shell/src/test/java/org/springframework/sbm/BootUpgrade_27_30_IntegrationTest.java
Labels: type: bug, type: test

#765 Disable UpgradeDependencyVersionTest
  components/sbm-openrewrite/src/test/java/org/springframework/sbm/support/openrewrite/api/UpgradeDependencyVersionTest.java
Labels: type: bug, type: test

#766 test: Test that verifies #54 is fixed
  components/sbm-core/src/test/java/org/springframework/sbm/build/Issue54Test.java
Labels: type: bug, type: test

#769 Test verifies pom with empty properties section can be parsed
  components/sbm-core/src/test/java/org/springframework/sbm/project/buildfile/OpenRewriteMavenBuildFileTest.java
Labels: type: bug, type: test

#773 fix: Removed Nullpointer exception when a class is extended and the type is unresolved
  components/sbm-core/src/main/java/org/springframework/sbm/java/exceptions/UnresolvedTypeException.java
  components/sbm-core/src/main/java/org/springframework/sbm/java/impl/ProjectJavaSourcesImpl.java
  components/sbm-core/src/test/java/org/springframework/sbm/java/impl/ProjectJavaSourcesImplTest.java
Labels: type: bug, in: engine

#777 fix: Removed dependency to Junit4
  applications/spring-shell/pom.xml
  applications/spring-shell/src/test/java/org/junit/rules/ExternalResource.java
  applications/spring-shell/src/test/java/org/junit/rules/Statement.java
  applications/spring-shell/src/test/java/org/junit/rules/TestRule.java
  applications/spring-shell/src/test/java/org/springframework/sbm/IntegrationTestBaseClass.java
  pom.xml
Labels: type: enhancement, in: engine

#779 fix: Adding a managed Maven dependency throws exception if it exists in same or higher version
  applications/spring-shell/src/test/java/org/springframework/sbm/IntegrationTestBaseClass.java
  components/sbm-core/src/main/java/org/springframework/sbm/build/migration/actions/AddMavenDependencyManagementAction.java
  components/sbm-core/src/main/java/org/springframework/sbm/build/migration/conditions/NoMoreRecentManagedDependencyExists.java
  components/sbm-core/src/main/java/org/springframework/sbm/java/exceptions/UnresolvedTypeException.java
  components/sbm-core/src/main/java/org/springframework/sbm/java/migration/recipes/openrewrite/ReplaceConstantWithAnotherConstant.java
  components/sbm-core/src/test/java/org/springframework/sbm/build/migration/actions/AddMavenDependencyManagementActionTest.java
  components/sbm-core/src/test/java/org/springframework/sbm/build/migration/conditions/NoMoreRecentManagedDependencyExistsTest.java
  components/sbm-recipes-boot-upgrade/pom.xml
  components/sbm-support-boot/src/main/resources/recipes/initialize-spring-boot-migration.yaml
Labels: type: bug
