Repository spring-projects-experimental/spring-boot-migrator, pull requests merged in 2023-08, with the labels that each got.

#850 Spike/rewrite maven parser cleanup
  .github/workflows/build-sbm-support-rewrite.yml
  applications/spring-shell/src/test/java/org/springframework/sbm/BootUpgrade_27_30_IntegrationTest.java
  components/sbm-core/src/main/java/org/springframework/sbm/common/util/OsAgnosticPathMatcher.java
  components/sbm-core/src/main/java/org/springframework/sbm/engine/precondition/JavaSourceDirExistsPreconditionCheck.java
  components/sbm-core/src/main/java/org/springframework/sbm/engine/precondition/MavenBuildFileExistsPreconditionCheck.java
  components/sbm-core/src/main/java/org/springframework/sbm/engine/recipe/OpenRewriteRecipeAdapterAction.java
  components/sbm-core/src/main/java/org/springframework/sbm/java/migration/conditions/HasAnyTypeReference.java
  components/sbm-core/src/main/java/org/springframework/sbm/project/parser/MavenProjectParser.java
  components/sbm-core/src/main/java/org/springframework/sbm/project/parser/PathScanner.java
  components/sbm-recipes-spring-framework/src/main/java/org/springframework/sbm/actions/spring/xml/include/ImportSpringXmlConfigAction.java
  components/sbm-support-boot/src/main/java/org/springframework/sbm/boot/properties/SpringApplicationPropertiesPathMatcher.java
  components/sbm-utils/src/main/java/org/springframework/sbm/utils/LinuxWindowsPathUnifier.java
  components/test-helper/src/main/java/org/springframework/sbm/helpers/DependencyVersionHelper.java
  pom.xml
  sbm-support-rewrite/pom.xml
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/BuildFileParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenBuildFileGraph.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenConfigFileParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenExecutor.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenMojoProjectParserFactory.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenMojoProjectParserPrivateMethods.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenPlexusContainer.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenPlexusContainerFactory.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/MavenProjectFactory.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ProjectScanner.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/ProvenanceMarkerFactory.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/RewriteMavenArtifactDownloader.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/RewriteMavenProjectParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/RewriteProjectParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/SortedProjects.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/SourceFileParser.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/recipes/RewriteRecipeDiscovery.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/utils/LinuxWindowsPathUnifier.java
  sbm-support-rewrite/src/main/java/org/springframework/sbm/utils/ResourceUtil.java
  sbm-support-rewrite/src/test/java/org/openrewrite/maven/MavenParserTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/BuildFileParserTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/MavenBuildFileGraphTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/MavenConfigFileParserTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/MavenExecutorTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/MavenProjectFactoryTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/MavenProjectResolutionTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/ProvenanceMarkerFactoryTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteMavenProjectParserIntegrationTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteMavenProjectParserTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteProjectParserIntegrationTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteProjectParserTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteRecipeDiscoveryTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/test/util/DummyResource.java
  sbm-support-rewrite/testcode/maven-projects/simple-spring-boot/.gitignore
  sbm-support-rewrite/testcode/maven-projects/simple-spring-boot/pom.xml
  sbm-support-rewrite/testcode/maven-projects/simple-spring-boot/src/main/java/com/example/simplespringboot/SimpleSpringBootApplication.java
  sbm-support-rewrite/testcode/maven-projects/simple-spring-boot/src/main/resources/application.properties
  sbm-support-rewrite/testcode/maven-projects/simple-spring-boot/src/test/java/com/example/simplespringboot/SimpleSpringBootApplicationTests.java
Labels: type: enhancement, in: sbm-support-rewrite

#764 Use CI to create documentation
  docs/reference/developer-documentation.adoc
  pom.xml
Labels: type: documentation, type: enhancement

#874 Independent Gradle Project Parser via GradleProjectData model
  sbm-gradle-tooling-model/.gitattributes
  sbm-gradle-tooling-model/.gitignore
  sbm-gradle-tooling-model/README.md
  sbm-gradle-tooling-model/build.gradle.kts
  sbm-gradle-tooling-model/demo/.gitignore
  sbm-gradle-tooling-model/demo/build.gradle.kts
  sbm-gradle-tooling-model/demo/gradle/wrapper/gradle-wrapper.jar
  sbm-gradle-tooling-model/demo/gradle/wrapper/gradle-wrapper.properties
  sbm-gradle-tooling-model/demo/gradlew
  sbm-gradle-tooling-model/demo/gradlew.bat
  sbm-gradle-tooling-model/demo/settings.gradle.kts
  sbm-gradle-tooling-model/demo/src/main/java/com/example/demo/DemoApplication.java
  sbm-gradle-tooling-model/demo/src/main/resources/application.properties
  sbm-gradle-tooling-model/demo/src/test/java/com/example/demo/DemoApplicationTests.java
  sbm-gradle-tooling-model/gradle.properties
  sbm-gradle-tooling-model/gradle/licenseHeader.txt
  sbm-gradle-tooling-model/gradle/wrapper/gradle-wrapper.jar
  sbm-gradle-tooling-model/gradle/wrapper/gradle-wrapper.properties
  sbm-gradle-tooling-model/gradlew
  sbm-gradle-tooling-model/gradlew.bat
  sbm-gradle-tooling-model/model/build.gradle.kts
  sbm-gradle-tooling-model/model/src/main/java/org/springframework/sbm/gradle/tooling/GradleProjectData.java
  sbm-gradle-tooling-model/model/src/main/java/org/springframework/sbm/gradle/tooling/JavaSourceSetData.java
  sbm-gradle-tooling-model/model/src/main/java/org/springframework/sbm/gradle/tooling/JavaVersionData.java
  sbm-gradle-tooling-model/model/src/main/java/org/springframework/sbm/gradle/tooling/KotlinSourceSetData.java
  sbm-gradle-tooling-model/model/src/main/java/org/springframework/sbm/gradle/tooling/ModelBuilder.java
  sbm-gradle-tooling-model/model/src/main/resources/init.gradle
  sbm-gradle-tooling-model/model/src/test/java/org/openrewrite/gradle/toolingapi/.editorconfig
  sbm-gradle-tooling-model/model/src/test/java/org/openrewrite/gradle/toolingapi/UseToolingModel.java
  sbm-gradle-tooling-model/parser/build.gradle.kts
  sbm-gradle-tooling-model/parser/src/main/java/org/springframework/sbm/gradle/parser/DefaultParserConfig.java
  sbm-gradle-tooling-model/parser/src/main/java/org/springframework/sbm/gradle/parser/DefaultProjectParser.java
  sbm-gradle-tooling-model/parser/src/main/java/org/springframework/sbm/gradle/parser/GradleProjectParser.java
  sbm-gradle-tooling-model/parser/src/main/java/org/springframework/sbm/gradle/parser/Main.java
  sbm-gradle-tooling-model/parser/src/main/java/org/springframework/sbm/gradle/parser/ParseConfig.java
  sbm-gradle-tooling-model/plugin/build.gradle.kts
  sbm-gradle-tooling-model/plugin/src/main/java/org/springframework/sbm/gradle/tooling/GradleProjectDataImpl.java
  sbm-gradle-tooling-model/plugin/src/main/java/org/springframework/sbm/gradle/tooling/JavaSourceSetDataImpl.java
  sbm-gradle-tooling-model/plugin/src/main/java/org/springframework/sbm/gradle/tooling/JavaVersionDataImpl.java
  sbm-gradle-tooling-model/plugin/src/main/java/org/springframework/sbm/gradle/tooling/KotlinSourceSetDataImpl.java
  sbm-gradle-tooling-model/plugin/src/main/java/org/springframework/sbm/gradle/tooling/ToolingApiSbmModelPlugin.java
  sbm-gradle-tooling-model/plugin/src/main/java/org/springframework/sbm/gradle/tooling/package-info.java
  sbm-gradle-tooling-model/sample/build.gradle
  sbm-gradle-tooling-model/sample/settings.gradle
  sbm-gradle-tooling-model/settings.gradle.kts
Labels: spike, in: sbm-support-rewrite

#891 875 new parser fails due to checkstyle
  .github/workflows/build-sbm-support-rewrite.yml
  sbm-support-rewrite/pom.xml
  sbm-support-rewrite/src/main/java/org/springframework/sbm/parsers/SourceFileParser.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteMavenProjectParserTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteProjectParserIntegrationTest.java
  sbm-support-rewrite/src/test/java/org/springframework/sbm/parsers/RewriteProjectParserTest.java
  sbm-support-rewrite/testcode/maven-projects/checkstyle/checkstyle/rules.xml
  sbm-support-rewrite/testcode/maven-projects/checkstyle/checkstyle/suppressions.xml
  sbm-support-rewrite/testcode/maven-projects/checkstyle/pom.xml
Labels: type: bug, in: sbm-support-rewrite, type: revamp
